* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.btn-twitter {
  background-color: red;
  margin-left: 20px;
  padding: 5px;
}

.btn-instagram {
  background-color: blue;
  margin-left: 20px;
  padding: 5px;
}

.btn-tiktok {
  background-color: yellow;
  margin-left: 20px;
  padding: 5px;
}

.fondoForm {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fondoQuienesSomos {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fondoFlota {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fondoInformacionAdicional {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fondoContacto {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fondoForm {
  background-color: #0077b6;
  padding: 10px;
}
.fondoForm .main-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.fondoForm form {
  padding: 40px;
}

form h2 {
  margin-bottom: 20px;
  font-size: xx-large;
  font-weight: bold;
  border-bottom: 1.5px solid black;
}

.marginCero {
  margin: 20px 0px 0px 0px;
}

input {
  width: 60%;
  margin-right: 70px;
  margin-bottom: 20px;
}

@media (max-width: 320px) {
  .main-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
footer {
  background-color: black;
  font-style: normal;
  font-size: small;
  line-height: 2;
  padding: 20px;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color: white;
}
footer img {
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 50px;
}
footer div section p {
  margin-left: 20px;
  padding-right: 80px;
}

.estiloH3, .extendClass {
  text-align: justify;
  height: 50px;
  font-size: medium;
  font-weight: bold;
}

.FooterPosition {
  text-decoration: none;
  color: white;
}

.row {
  justify-content: space-evenly;
}

.fondoQuienesSomos {
  background-color: #0077b6;
}
.fondoQuienesSomos .estiloH2 {
  font-weight: bold;
  margin: 30px 30px 30px 30px;
}
.fondoQuienesSomos .estiloP {
  margin: 30px 30px 30px 30px;
}
.fondoQuienesSomos .estiloQuienesSomos {
  color: black;
  font-size: large;
  font-style: normal;
  font-weight: bold;
  text-align: justify;
  width: 80%;
  padding: 20px;
  line-height: 28px;
}
.fondoQuienesSomos .estiloH3, .fondoQuienesSomos .extendClass {
  font-weight: bold;
  margin: 30px 30px 10px 30px;
}
.fondoQuienesSomos .estiloIframe {
  margin: 30px 30px 30px 30px;
}

.fondoFlota {
  background-color: #0077b6;
  padding: 10px;
}
.fondoFlota .row {
  justify-content: space-evenly;
}
.fondoFlota .estiloTituloFlota {
  border: 2px solid white;
  color: white;
  padding-left: 100px;
  padding-right: 100px;
}
.fondoFlota .estiloSubtituloFlota {
  border: 2px solid white;
  margin: 2rem 25rem 2rem 25rem;
  text-align: center;
  color: white;
  font-weight: bold;
  padding-left: 80px;
  padding-right: 80px;
}
.fondoFlota .card {
  height: fit-content;
}
.fondoFlota .card .card__img {
  border: 1px solid black;
  margin-top: 1rem;
}
.fondoFlota .card .card-title {
  font-weight: bolder;
  font-size: x-large;
}
.fondoFlota .card .card-text {
  font-size: medium;
}

.fondoInformacionAdicional {
  background-color: #0077b6;
}

.estiloIA {
  color: black;
  font-size: large;
  font-style: normal;
  font-weight: bold;
  text-align: justify;
  width: 80%;
  padding: 20px;
  line-height: 28px;
}

#estiloTexto {
  font-weight: bold;
  margin: 30px 30px 0px 30px;
  line-height: 20px;
}

.interlineadoTexto {
  height: 50px;
}

.estiloTable {
  margin: 30px 30px 0px 30px;
  border: 1.5px solid black;
}

.fondoContacto {
  background-color: #0077b6;
}

.ordenContacto {
  width: 50%;
  margin: 30px 70px 20px 30px;
  padding: 50px 100px 50px 50px;
  color: black;
  font-size: medium;
  font-weight: bold;
  line-height: 28px;
  display: inline-block;
  background-color: white;
  border: 1.5px solid black;
  border-radius: 10px;
}

.inputContacto {
  width: 74%;
  margin-top: 20px;
  margin-right: 80px;
  margin-bottom: 20px;
}

.inputDos {
  width: 10%;
  align-items: center;
  margin-top: 20px;
  margin-right: 50px;
  margin-bottom: 20px;
}

.mensaje {
  width: 90%;
  margin-top: 20px;
  margin-right: 80px;
  margin-bottom: 20px;
}

.button {
  width: 20%;
}

/*
.textArea {
  align-items: center;
  padding-bottom: 50px;
  margin-top: 20px;
  margin-right: 50px;
  margin-bottom: 20px;
}

.buttonContacto1 {
  [type="reset"] {
    font-weight: bold;
    margin-bottom: 10px;
    border: 1.5px solid black;
    padding: 10px;
  }

  :hover {
    cursor: pointer;
  }
}

.buttonContacto2 {
  [type="submit"] {
    font-weight: bold;
    margin-bottom: 10px;
    border: 1.5px solid black;
    padding: 10px;
  }

  :hover {
    cursor: pointer;
  }
}*/

/*# sourceMappingURL=style.css.map */
