* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.btn-twitter {
  background-color: red;
}

.btn-instagram {
  background-color: blue;
}

.btn-tiktok {
  background-color: yellow;
}

.fondoForm {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to bottom, #0077b6, #0096c7, #00b4d8, #48cae4, #90e0ef);
}

.fondoForm .main-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.fondoForm form {
  padding: 40px;
}

.ordenForm {
  margin: 30px;
  padding: 50px;
  color: black;
  font-size: medium;
  font-weight: bold;
  line-height: 28px;
  display: inline-block;
  background-color: white;
  border: 1.5px solid black;
  border-radius: 10px;
}

form h2 {
  margin-bottom: 20px;
}

input {
  width: 80%;
  margin-right: 70px;
  margin-bottom: 20px;
}

.button [type=submit] {
  font-weight: bold;
  margin-bottom: 10px;
  border: 1.5px solid black;
  padding: 10px;
}
.button :hover {
  cursor: pointer;
}

.estiloFlota {
  color: black;
  font-size: larger;
  font-style: normal;
  font-weight: bold;
  text-align: justify;
  padding: 20px;
  line-height: 28px;
}

.estiloTituloFlota {
  font-weight: bold;
  margin: 50px 30px 50px 30px;
  color: whitesmoke;
  text-align: center;
}
.estiloTituloFlota .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  justify-items: center;
  padding-left: 30px;
  padding-right: 30px;
}
.estiloTituloFlota .grid-container :hover {
  transform: scale(1.3);
}

.card {
  background-color: whitesmoke;
  color: black;
  font-size: large;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  margin: 20px;
  height: 200px;
  padding: 10px;
  line-height: 28px;
  border-radius: 10px;
  border: 2px solid black;
  display: inline-block;
  width: 200px;
}
.card :hover {
  cursor: pointer;
}

.card__box {
  display: flex;
  justify-content: space-evenly;
}

.card__title {
  font-size: large;
}

.card__img {
  border: 1px solid black;
}

/*
.estiloFlota {
    color: black;
    font-size: larger;
    font-style: normal;
    font-weight: bold;
    text-align: justify;
    padding: 20px;
    line-height: 28px;

    .estiloTituloFlota {
        font-weight: bold;
        margin: 50px 30px 50px 30px;
        color: whitesmoke;
        text-align: center;

        .grid-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto;
            gap: 20px;
            justify-items: center;
            padding-left: 30px;
            padding-right: 30px;

            .card {
                background-color: whitesmoke;
                color: black;
                font-size: large;
                font-style: normal;
                font-weight: bold;
                text-align: center;
                margin: 20px;
                height: 200px;
                padding: 10px;
                line-height: 28px;
                border-radius: 10px;
                border: 2px solid black;
                display: inline-block;
                width: 200px;

                &__title {
                    font-size: large;

                    &__img {
                        border: 1px solid black;

                        &__box {
                            display: flex;
                            justify-content: space-evenly;

                            & :hover {
                                cursor: pointer;

                                .grid-container :hover {
                                    transform: scale(1.3);
                                }
                            }
                        }

                    }
                }
            }
        }
    }
}
 */
@media (max-width: 320px) {
  .main-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
footer {
  background-color: black;
  font-style: normal;
  font-size: small;
  line-height: 2;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color: white;
}
footer img {
  margin-left: 20px;
  margin-right: 20px;
}
footer div section p {
  margin-left: 20px;
  padding-right: 80px;
}

.estiloH3, .extendClass {
  text-align: justify;
  height: 50px;
  font-size: medium;
  font-weight: bold;
}

.FooterPosition {
  text-decoration: none;
  color: white;
  margin: 30px;
}

/*# sourceMappingURL=style.css.map */
