.fondoContacto {
    background-color: #0077b6;
    padding: 25px;
  }
  
  .ordenContacto {
    width: 50%;
    margin: 30px 70px 20px 30px;
    padding: 50px 100px 50px 50px;
    color: black;
    font-size: medium;
    font-weight: bold;
    line-height: 28px;
    display: inline-block;
    background-color: white;
    border: 1.5px solid black;
    border-radius: 10px;
  }
  
  .inputContacto {
    width: 74%;
    margin-top: 20px;
    margin-right: 80px;
    margin-bottom: 20px;
  }
  
  .inputDos {
    width: 10%;
    align-items: center;
    margin-top: 20px;
    margin-right: 50px;
    margin-bottom: 20px;
  }

  .mensaje {
    width: 90%;
    margin-top: 20px;
    margin-right: 80px;
    margin-bottom: 20px;
  }

  .buttonContacto {
      width: 20%;
  }