.fondoFlota {
    background-color: #0077b6;
    padding: 10px;
.row {
    justify-content: space-evenly;
}

.estiloTituloFlota {
    border: 2px solid white;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    font-weight: bold;
}

.estiloSubtituloFlota {
    border: 2px solid white;
    margin: 2rem 25rem 2rem 25rem;
    text-align: center;
    color: white;
    font-weight: bold;
    padding-left: 80px;
    padding-right: 80px;
}
    
.card {

    height: fit-content;
    
.card__img {
    border: 1px solid black;
    margin-top: 1rem;
}

.card-title {
    font-weight: bolder;
    font-size: x-large;
}

.card-text {
    font-size: medium;
}
}
}