        footer {
            background-color: black;
            font-style: normal;
            font-size: small;
            line-height: 2;
            padding: 20px;
            padding-top: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            color: white;
          
            img {
              margin-left: 20px;
              margin-right: 20px;
              padding-bottom: 50px;
            }
          
            div section p {
              margin-left: 20px;
              padding-right: 80px;
            
            }
          }
          
          .estiloH3 {
            text-align: justify;
            height: 50px;
            font-size: medium;
            font-weight: bold;
          }
          
          .FooterPosition {
            text-decoration: none;
            color: white;
          }
          .row {
            justify-content: space-evenly;
        }