* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

$mapaRedes: (twitter: red, instagram: blue, tiktok: yellow);
@each $redes, $color in $mapaRedes {

    .btn-#{$redes} {
background-color: $color;
margin-left: 20px;
padding: 5px;

}
}

.extendClass {
    @extend .estiloH3;
    }

    @mixin estiloMixin {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .fondoForm {
    @include estiloMixin;
        }

    .fondoQuienesSomos {
        @include estiloMixin;
        }

    .fondoFlota {
        @include estiloMixin;
        }

    .fondoInformacionAdicional {
        @include estiloMixin;
        }
        
    .fondoContacto {
        @include estiloMixin;
        }
