* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

$mapaRedes: (twitter: red, instagram: blue, tiktok: yellow);
@each $redes, $color in $mapaRedes {

    .btn-#{$redes} {
background-color: $color;
}
}

.extendClass {
    @extend .estiloH3;
    }

    @mixin estiloMixin {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: linear-gradient(to bottom, #0077b6, #0096c7, #00b4d8, #48cae4, #90e0ef);
    }
    
    .fondoForm {
    @include estiloMixin;
    }