.fondoInformacionAdicional {
    background-color: #0077b6;
  }
  
  .estiloAccordion {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    font-weight: bold;
    color: black;
    text-align: justify;
  }
  
  /*
  .estiloIA {
    color: black;
    font-size: large;
    font-style: normal;
    font-weight: bold;
    text-align: justify;
    width: 80%;
    padding: 20px;
    line-height: 28px;
  }
  
  #estiloTexto {
    font-weight: bold;
    margin: 30px 30px 0px 30px;
    line-height: 20px;
  }
  
  .interlineadoTexto {
    height: 50px;
  }
  
  .estiloTable {
    margin: 30px 30px 0px 30px;
    border: 1.5px solid black;
  } */