.fondoQuienesSomos {
    background-color: #0077b6;

  .estiloH2 {
    font-weight: bold;
    margin: 30px 30px 30px 30px;
  }
  
  .estiloP {
    margin: 30px 30px 30px 30px;
  }
  
  .estiloQuienesSomos {
    color: black;
    font-size: large;
    font-style: normal;
    font-weight: bold;
    text-align: justify;
    width: 80%;
    padding: 20px;
    line-height: 28px;
  }
  
  .estiloH3 {
    font-weight: bold;
    margin: 30px 30px 10px 30px;
  }
  
  .estiloIframe {
    margin: 30px 30px 30px 30px;
  }
}